





{{!-- <h3>Company: {{user.company}}</h1>
<h3>Email: {{user.email}}</h3>
<h3>Username: {{user.username}}</h3>

<form method="get" action="/manageEmployees">
  <button type="submit">Manage Employees</button>
</form> --}}


