<h1>Reset Password</h1>
{{message}}
<form action="/resetRequest" method="post">
  <label for="username">Username</label>
  <input type="text" name="username">
  <button type="submit">Reset Password</button>
</form>